---
---


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Sans:wght@400;700&display=swap');
$global-font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
$header-font-family: $global-font-family;
$caption-font-family: $global-font-family;
$monospaced-font-family: "IBM Plex Mono", monospace;

@import "minimal-mistakes";

.sidebar, .author__name, .author__bio, .nav__list {
    font-family: "IBM Plex Sans", sans-serif !important;
}

.page__content p {
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
